/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
:root .page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  width: 100%;
  background-image: var(--bg-image);
  background-color: var(--main-color);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  block-size: 100vh;
  min-block-size: 668px;
  margin-block-end: 40px;
  position: relative;
}

.header__theme-menu {
  margin-block-start: 75px;
  margin-block-end: 65px;
  margin-inline-end: 10px;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/*Декор*/

.rec-label {
  position: absolute;
  top: 10px;
  right: 40px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4em;
  letter-spacing: 0;
  text-align: center;
  color: var(--accent-color);
  text-transform: uppercase;
}

.rec-label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 44px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--decorated-color);
  border-bottom: 1px solid var(--decorated-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--decorated-color);
  border-top: 1px solid var(--decorated-color);
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  color: var(--button-color);
  inline-size: 70px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 1em;
  letter-spacing: 0;
  text-align: center;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color-active);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color-focus);
}

.main-title {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  justify-self: center;
  align-self: center;
  font-family: "IBM Plex Mono", monospace;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 83%;
  letter-spacing: 0;
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header-description {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  margin-block-start: 55px;
  margin-block-end: 66px;
  justify-self: center;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 0;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--td-color);
}

.title-color-decor {
  color: var(--title-color-decor);
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  padding: 0 10px;
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link:hover {
  border-block-end: 1px solid var(--desc-color);
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid var(--desc-color);
}

.section-card {
  margin-block-end: 20px;
}

.section-card:last-child {
  margin-block-end: 0;
}

.section-title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 0;
  margin-block-end: 20px;
}

.section-card-title {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 0;
  margin-block-end: 10px;
}

.section-card-bold {
  font-weight: 700;
}

.section-card-description {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 0;
  color: var(--desc-color);
}

.gallery {
  margin-block-end: 40px;
}

.illustrations {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.illustrations li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.illustrations img {
  inline-size: 100%;
  block-size: auto;
  object-fit: contain;
  object-position: center;
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  block-size: 100vh;
  min-block-size: 668px;
}

.title-shadow {
  text-shadow: 2px 2px 0 var(--accent-color);
}

/* Media */

@media (width >= 768px) {
  .header {
    min-block-size: 1024px;
    margin-block-end: 60px;
  }

  .rec-label {
    top: 20px;
    right: 48px;
  }

  .rec-label::after {
    left: 43px;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .header__theme-menu {
    margin-block-start: 192px;
    margin-block-end: 176px;
    margin-inline-end: 20px;
    justify-self: end;
  }

  header .main-title {
    margin-inline-start: 0;
    margin-inline-end: 0;
    justify-self: self-start;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header-description {
    margin-inline-start: 384px;
    margin-inline-end: 20px;
    margin-block-start: 162px;
    margin-block-end: 183px;
    justify-self: self-end;
  }

  .content {
    gap: 80px;
    padding: 0;
  }

  .section-content {
    display: grid;
    gap: 20px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }

  .why-hard-concentrate__section {
    grid-template-columns: 236px 1fr;
  }

  .why-hard-concentrate__section .section-card {
    grid-column: 2;
  }

  .section-content > .section-title {
    inline-size: 236px;
    margin-block-end: 0;
  }

  .section-card {
    margin-block-end: 0;
  }

  .section-title:last-child {
    margin-block-end: 0;
  }

  .section-card-title:last-child {
    margin-block-end: 0;
  }

  .what-reduces-concentrate__section {
    grid-template-columns: 1fr;
  }

  .second-block-concentraition .section-title {
    margin-block-end: 0;
  }

  .how-to-concentrate__section {
    grid-template-columns: 236px 1fr;
  }

  .how-to-concentrate__section .section-card {
    grid-column: 2;
  }

  .gallery {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    margin-block-end: 60px;
  }

  .gallery .section-card-title {
    margin-block-end: 18px;
  }

  .illustrations {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 768px));
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .illustrations img {
    display: block;
    block-size: 100%;
    object-fit: cover;
  }

  .sunset {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .ice-cream {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .tape {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .books {
    grid-column: 2;
    grid-row: 2;
  }

  .street {
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .footer {
    min-block-size: 1024px;
  }

  .footer .main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* 1024px*/

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    margin-block-start: 20px;
    margin-block-end: 0;
    margin-inline-end: 0;
    align-self: self-start;
    justify-self: center;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .header-description {
    margin-inline-start: 513px;
    margin-block-start: 55px;
    margin-block-end: 134px;
  }

  .why-hard-concentrate__section {
    grid-template-columns: 315px 1fr;
  }

  .section-content > .section-title {
    inline-size: 315px;
  }

  .what-reduces-concentrate__section {
    grid-template-columns: repeat(3, 1fr);
  }

  .what-reduces-concentrate__section .section-title {
    grid-column: span 3;
    grid-row: 1/2;
  }

  .how-to-concentrate__section {
    grid-template-columns: 315px 1fr;
  }

  .footer {
    min-block-size: 768px;
  }
}
